@charset "utf-8";
/*清除格式*/
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin: 0; padding: 0;}
body{font-size:12px;}
img{border: none;}
li{list-style: none;}
input,select,textarea{outline:none; border: none; background: none;/*搜索框的ie6兼容（先把背景变无）*/}
textarea{resize:none;}
a{text-decoration: none; color: #656565;}
input{border: none;}/*清除按钮边框*/

/*清除浮动*/
.clearfix:after{content: ""; display: block; clear:both;}
.clearfix{zoom:1;}
.fl{float: left;} /*左浮动的偷懒小tips*/
.fr{float: right;}
